body {
  margin: 0;
  font-family:  'Merienda', cursive;
 
}

@font-face {
  font-family: 'Merienda';
  src: url('./fonts/Merienda-Bold.ttf'),
  url('./fonts/Merienda-Bold.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  }
@font-face {
  font-family: 'Merienda';
  src: url('./fonts/Merienda-Regular.ttf'),
  url('./fonts/Merienda-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  }


